body {
  margin: 0 auto;
  background-color: #1bbc9b;
}
h2 {
  margin: 0 auto;

}
.Login-bg {

}
.Login-form {
  background-color: #eeeff1;
  width: 570px;
  margin-left: 450px;
}
.Login-field {
  width: 500px;
  height: 25px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.Login-log_btn {
  width: 500px;
  border: 0px;
  margin-left: 25px;
  margin-bottom: 25px;
  background-color: #1bbc9b;
  height: 35px;
}
.Login-reg_btn {
  margin-left: 25px;
  margin-bottom: 10px;
  border: 0px;
  background-color: #1bbc9b;
  width: 500px;
  height: 35px;
}
.Login-txt {
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Verdana;
  font-size: 18px;
  color: #978c8f;
}
.Login-head {
  margin-left: 625px;
  margin-top: 180px;
  margin-bottom: 10px;
  font-family: Verdana;
  color: white;
}
form{
  padding: 10px;
}