
.Recovery-bg {

}
.Recovery-head {
  margin-left: 625px;
  margin-top: 180px;
  margin-bottom: 10px;
  color: white;
}
.Recovery-form {
  background-color: #eeeff1;
  width: 570px;
  margin-left: 450px;
}
.Recovery-field {
  width: 500px;
  height: 25px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.Recovery-btn {
  margin-left: 25px;
  margin-bottom: 10px;
  border: none;
  background-color: #1bbc9b;
  width: 500px;
  height: 35px;
}
form{
  padding: 10px;
}
body {
  margin: 0 auto;
  background-color: #1bbc9b;
}
h2 {
  margin: 0 auto;

}