body {
  margin: 0 auto;
  background-color: #1bbc9b;
}
.Register-bg {

}
.Register-form{
  background-color: #eeeff1;
  width: 570px;
  margin-left: 450px;
}
.Register-field {
  width: 500px;
  height: 25px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.Register-reg-btn {
  width: 500px;
  border: 0px;
  margin-left: 25px;
  margin-bottom: 25px;
  background-color: #1bbc9b;
  height: 35px;
  font-family: Verdana;
  color: white;
}
.Register-head {
  margin-left: 625px;
  margin-top: 180px;
  margin-bottom: 10px;
  font-family: Verdana;
  font-size: 24px;
  color: white;
}