.App {
  background: url("../img/best-travel-agency.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.container{
  display: block;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(220,220,220,0.7);
  border-radius: 15px;
}

