.purchase-summary {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  border: #8a8a8a solid 1px;
  font-size: 14px;
}

.cart-header {
  font-size: 18px;
  margin: 30px 0 10px 0;
  text-align: center;
}

.btn-purchase {
  display: block;
  margin: 10px auto;
  padding: 7px;
  border: #808080 solid 1px;
  border-radius: 4px;
  outline: none;
  color: #373737;
}

.purchased-event {
  display: flex;
}

.purchased-accommodation {
  display: flex;
}

.purchased-transfer {
  display: flex;
}

.summary-elem {
  width: 150px;
  padding: 3px 10px;
}

.cost-elem {
  width: 100px;
  text-align: right;
}

.summary {
  width: 150px;
  color: #790202;
}

.summary-total-header {
  text-align: center;
  font-size: 14px;
  margin: 15px;
}

.purchase-summary-total {
  font-size: 24px;
  text-align: center;
}
