@import "variables.scss";

.categories-page {
  min-height: calc(100vh - 175px);
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 0 40px;
}

.top-events-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 40px 25px 36px;
  padding: 10px 5px;
  border: solid 1px $md-color-red-300;
  border-radius: 10px;
}

.top-events-container-header {
  position: absolute;
  top: -30px;
  left: 20px;
  padding: 4px 10px;
  border-radius: 7px 7px 0 0;
  background-color: #ffee5a;
  color: $md-color-red-500;
  font-size: 15px;
}

.events-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  justify-items: center;
}

.event-thumbnail-container {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 80px;
  overflow: hidden;
}

.event-thumbnail {
  display: inline-block;
  height: 100px;
  margin: 3px;
  //width: 140px;
}

.link {
  text-decoration: none;
}

.categories-header {
  margin: 20px 0 36px 5px;
  color: $md-color-green-900;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.link-to-all-events {
  position: absolute;
  right: 20px;
  bottom: 0;
  padding: 7px;
  transition: all .2s;
  border: 3px solid $md-color-red-500;
  border-radius: 20px;
  background-color: $md-color-white;
  color: $md-color-red-500;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, .4);
}

.link-to-top-event {
  transition: all 200ms;
  text-decoration: none;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, .4);
}

.link-to-top-event:hover {
  box-shadow: 2px 3px 15px rgba(0, 0, 0, .9);
}

.link-to-all-events:hover {
  box-shadow: 2px 3px 15px rgba(10, 0, 5, .8);
}

.filter-container-horizontal {
  margin: 10px 5px;
  padding: 0 40px;
}

.filter-horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 18px;
}

.filter-block-horizontal {
  margin-top: 7px;
  margin-bottom: 7px;
}

.category-item {
  position: relative;
  width: 300px;
  height: 200px;
  margin-bottom: 35px;
  transition: all .2s;
  border-radius: 15px 0 0;
  text-decoration: none;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, .4);
}

.category-item:hover {
  box-shadow: 2px 3px 15px rgba(0, 0, 0, .8);
}

.category-name {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 60%;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 1px 1px 2px black, 0 0 1em #050532;
  text-transform: capitalize;
}

.category-img-container {
  display: flex;
  justify-content: center;
  height: 100%;
  border-radius: 15px 0 0;
  overflow: hidden;
}

.category-img {
  width: 100%;
  height: 100%;
}

.events-count {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-shadow: 1px 1px 2px black, 0 0 4px #050532;
}

.filter-label-horizontal {
  display: inline-block;
  margin-right: 5px;
  color: $md-color-green-500;
  font-size: 12px;
  font-weight: 400;
}

.filter-input-horizontal {
  width: 160px;
  height: 25px;
  margin-top: 2px;
  border: solid 1px $md-color-green-500;
  border-radius: 4px;
  outline: solid 1px transparent;
  background-color: $md-color-white;
  color: $md-color-green-900;
  font-size: 12px;
  cursor: pointer;
}

.btn-horizontal {
  display: inline-block;
  width: 100px;
  height: 29px;
  margin: 0 10px;
  border: solid 1px $md-color-green-500;
  background-color: $md-color-green-500;
  color: $md-color-white;
}

.btn-horizontal:hover {
  background-color: $md-color-green-500;
  color: $md-color-white;
  box-shadow: $md-shadow3;
}

.btn-horizontal:active {
  background-color: $md-color-green-900;
  color: $md-color-white;
  box-shadow: $md-shadow2;
}

.category-item:hover .category-name {
  color: $md-color-red-500;
}