.event-purchase-page {
  display: block;
}

.container-header-p {
  margin-bottom: 4px;
  color: #737d9b;
  font-size: 12px;
}

.event-extra-container {
  display: block;
  margin: 5px;
}

.accommodation-container {
  display: block;
  margin: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #11bc91;
  font-size: 14px;
}

.transfer-container {
  display: block;
  margin: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #11bc91;
}

.event-photo-container {
  display: inline-block;
  position: relative;
  padding: 4px;
  border: #6b6b6b solid 1px;
}

.event-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 7px;
}

.event-description {
  display: block;
  width: 100%;
  height: 100%;
  padding: 7px 7px 7px 16px;
}

.event-purchase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 7px;
  padding-left: 16px;
  border-left: 1px solid #a1a8bd;
}

.event-actions-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

.event-info-header {
  margin-bottom: 10px;
  color: #0a1331;
  font-size: 26px;
  font-weight: 700;
}

.event-info-city {
  margin-bottom: 10px;
  color: #0a1331;
  font-size: 16px;
  font-weight: 500;
}

.event-info-date {
  color: #0a1331;
  font-size: 14px;
  line-height: 24px;
}

.event-info-p {
  margin-top: 10px;
  color: #0a1331;
  font-size: 16px;
  line-height: 24px;
}

.event-info-p-name {
  margin-right: 8px;
  color: #737d9b;
}

.event-info-description {
  margin-top: 20px;
  color: #15024b;
  font-size: 14px;
  font-style: italic;
}

.event-photo {
  height: 300px;
}

.star-icon-event-info {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  padding: 1px;
  border-radius: 50%;
  background: rgba(255, 200, 0, .8);
}

.event-price {
  color: #0a1331;
  font-size: 26px;
  font-weight: 700;
}

.add-to-cart {
  width: 150px;
  padding: 9px;
  border: 2px solid #11bc91;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  color: #11bc91;
  font-size: 14px;
  cursor: pointer;
}

.add-to-wishlist {
  width: 150px;
  padding: 9px;
  border: 2px solid #11bc91;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  color: #11bc91;
  font-size: 14px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #fff;
  opacity: .7;
}

.add-to-wishlist:hover {
  background-color: #fff;
  opacity: .7;
}

.remove-from-wishlist {
  width: 150px;
  padding: 9px;
  border: 2px solid #f66;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  color: #f66;
  font-size: 14px;
  cursor: pointer;
}

.remove-from-wishlist:hover {
  background-color: #fff;
  opacity: .7;
}

.accommodation-item {
  display: flex;
  //border-bottom: #373737 solid 1px;
  font-size: 12px;
}

.accommodation-item-header {
  color: #504451;
  font-size: 12px;
  font-style: italic;
}

.accommodation-item-hotel {
  width: 220px;
  padding: 3px 5px 3px 7px;
  color: #5f0202;
  font-size: 14px;
  font-weight: 700;
}

.accommodation-item-price {
  width: 150px;
  padding: 3px 5px 3px 7px;
  text-align: center;
}

.accommodation-item-min-time {
  width: 100px;
  padding: 3px 5px 3px 7px;
  text-align: center;
}

.purchase-btn {
  margin-bottom: 3px;
  margin-left: 50px;
  padding: 5px 7px;
  border: #808080 solid 1px;
  border-radius: 4px;
  outline: none;
  color: #373737;
}

.select-transfer-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

.select-city-input {
  width: 160px;
  height: 25px;
  margin: 0 10px;
  border: #12d4a7 1px solid;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  color: #11a178;
  font-size: 12px;
  cursor: pointer;
}

.transfer-input-label {
  display: inline-block;
  width: 230px;
  margin: 0 15px;
  color: #11a178;
  font-size: 14px;
  text-align: right;
}

.select-transfer-days {
  min-width: 400px;
}

.btn-days-inc {
  width: 50px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #11bc91;
  border-radius: 4px;
  background-color: #fff;
  color: #11a178;
}

.btn-days-inc:hover {
  background-color: #11bc91;
  color: #fff;
}

.transfer-item {
  display: flex;
  margin: 3px;
  font-size: 12px;
}

.transfer-item-header {
  color: #373737;
  font-style: italic;
}

.transportTypeName {
  width: 100px;
}

.transfer-time {
  width: 180px;
}

.transfer-duration {
  width: 120px;
}

.depart-city {
  min-width: 170px;
}

.transfer-number {
  min-width: 80px;
}

.arrival-city {
  width: 150px;
}

.transfer-price {
  width: 120px;
}

.transfer-btn {
  padding: 3px 7px;
}

// == PURCHASE SUMMARY //

