.event-purchase-page {
  display: block;
}

.container-header-p {
  color: #6b6b6b;
  font-size: 12px;
}

.event-extra-container {
  display: block;
  margin: 5px;
}

.accommodation-container {
  display: block;
  margin: 15px;
}

.transfer-container {
  display: block;
  margin: 5px;
  border: #515151 solid 1px;
}

.transfer-to {
  border: #515151 solid 1px;
  background-color: #baffab;
}

.transfer-from {
  background-color: #9990ff;
}

.purchase-summary {
  display: block;
  margin: 5px;
  border: #515151 solid 1px;
}

.event-photo-container {
  display: inline-block;
  padding: 4px;
  border: #6b6b6b solid 1px;
}

.event-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: 100%;
  padding: 7px;
}

.event-description {
  display: block;
  width: 100%;
  height: 100%;
  padding: 7px;
}

.event-purchase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 7px;
  border-left: gray solid 1px;
}

.event-info-header {
  color: #5f0202;
  font-size: 18px;
}

.event-info-city {
  color: #790202;
  font-size: 12px;
}

.event-info-date {
  color: #790202;
  font-size: 12px;
}

.event-info-p {
  color: #1d1e2d;
  font-size: 12px;
}

.event-photo {
  height: 200px;
}

.event-price {
  color: #0b0a30;
  font-size: 20px;
}

.add-to-cart {
  padding: 7px;
  border: #808080 solid 1px;
  border-radius: 4px;
  outline: none;
  color: #373737;
}

.accommodation-item {
  display: flex;
  border-bottom: #373737 solid 1px;
  font-size: 12px;
}

.accommodation-item-header {
  color: #504451;
  font-size: 12px;
  font-style: italic;
}

.accommodation-item-hotel {
  width: 170px;
  padding: 3px 5px 3px 7px;
  color: #5f0202;
  font-size: 14px;
  font-weight: 700;
}

.accommodation-item-price {
  width: 150px;
  padding: 3px 5px 3px 7px;
  text-align: center;
}

.accommodation-item-min-time {
  width: 100px;
  padding: 3px 5px 3px 7px;
  text-align: center;
}

.purchase-accommodation {
  margin-bottom: 3px;
  margin-left: 50px;
  padding: 5px;
  border: #808080 solid 1px;
  border-radius: 4px;
  outline: none;
  color: #373737;
}