.login-box {
  width: 444px;
  margin-top: 64px;
  margin-left: 350px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, .52);
}

.login-box-header-left {
  margin-bottom: 10px;
  margin-left: 200px;
  color: white;
  font-family: Verdana sans-serif;
  font-size: 20px;
}

.warning-text {
  font-family: Verdana sans-serif;
  font-size: 18px;
}

.login-input-box {
  width: 284px;
  height: 46px;
  margin-bottom: 9px;
  margin-left: 62px;
  padding-right: 19px;
  padding-left: 19px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  background-color: rgba(220, 220, 220, .7);
  color: #434343;
  font-family: Verdana sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

::placeholder {
  color: white;
}

.login-help-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 20px;
  transition: opacity .6s;
  background-color: #f44336;
  color: white;
  opacity: 1;
}

.warn-close {
  margin-left: 15px;
  float: right;
  transition: .3s;
  color: white;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
}

.warn-close:hover {
  color: black;
}

.login-btn {
  display: block;
  width: 322px;
  height: 46px;
  margin-top: 9px;
  margin-bottom: 10px;
  margin-left: 62px;
  border-radius: 3px;
  background-color: rgba(20, 30, 40, .5);
  text-align: center;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, .8);
}

.login-btn:focus {
  outline: none;
}

.login-btn:active {
  outline: none;
  background-color: rgba(20, 30, 40, .8);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 1);
}

.login-reg-link {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 350px;
  color: white;
  font-family: Verdana sans-serif;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
}

.login-msg {
  text-align: center;
}

.error-msg {
  padding: 5px;
  color: #9b0002;
  font-size: 14px;
  font-weight: 300;
}

.success-msg {
  padding: 30px;
  font-size: 14px;
  font-weight: 700;
}

.logout-msg {
  color: white;
  font-family: Verdana sans-serif;
  font-size: 20px;
  text-align: center;
}