.main-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(20, 30, 40, .1);
}

.main-menu-li {
  display: inline-block;
  position: relative;
  width: 100%;
}

.logo-main-menu {
  height: 40px;
  //width: 100px;
}

.main-menu-link {
  display: inline-block;
  //position: relative;
  width: 100%;
  padding: 16px 0;
  transition: all .2s;
  color: #334;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-main-menu-link {
  padding-top: 5px;
  padding-bottom: 0;
}

.main-menu-link:hover {
  color: midnightblue;
}

.main-menu-link:hover {
  background-color: rgba(255, 255, 255, .2);
  color: darkblue;
}

.main-menu-link:active {
  color: #000;
}

.menu-cart-sum {
  position: absolute;
  bottom: 50%;
  left: calc(50% + 30px);
  padding: 5px;
  border-radius: 15px;
  background-color: #fff;
  color: #03038b;
  font-size: 14px;
}