.profile-detail {
  display: flex;
  padding: 15px;
}

.user-photo-container {
  display: flex;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.user-photo {
  height: 75px;
}

.user-info-container {
  margin-left: 25px;
  font-size: 14px;
  line-height: 20px;
}

.user-info-name {
  font-family: Verdana sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.link-to-list {
  display: inline-block;
  margin-left: 10px;
}

.profile-event-content {
  margin-left: 10px;
  font-family: Verdana sans-serif;
  font-size: 18px;
}

.tab {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0 auto;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  overflow: hidden;
}

.tablink {
  padding: 10px;
}

.link-to-list {
  font-family: Verdana;
  margin: 0 auto;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.tablink:hover {
  background-color: #ddd;
}

.active-link {
  padding: 10px;
  background-color: #6b6b6b;
}