@import "variables.scss";

.register-box {
  width: 444px;
  margin: calc(50vh - 274px) auto 0;
  padding: 10px;
  border: solid 1px $md-color-green-300;
  border-radius: 20px;
  background-color: $md-color-white;
  box-shadow: $md-shadow4;
}

.register-box-header-left {
  margin-bottom: 10px;
  margin-left: 200px;
  color: white;
  font-size: 20px;
}

:invalid {
  color: $md-color-red-500;
}

.register-login-span {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 200px;
  color: $md-color-green-500;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
}

.register-login-link {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  color: white;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
}

.register-message {
  display: block;
  width: 294px;
  margin: 10px auto;
  padding: 15px;
  //border: solid 1px $md-color-green-300;
  border-radius: 5px;
  background-color: $md-color-white;
  color: $md-color-green-500;
  text-align: center;
  //box-shadow: $md-shadow4;
  overflow: hidden;
}

.err-msg-p {
  color: $md-color-red-500;
  text-align: center;
}

.success-msg-p {
  color: $md-color-green-500;
  font-size: 14px;
  text-align: center;
}