.wishlist-list {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.wishlist-list-titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
}

.element-title-name span {
  color: white;
}

.element-title-city span {
  color: white;
}

.element-title-price span {
  color: white;
}

.element-title-link span {
  color: white;
}

.wishlist-list-element {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .6);
}

.element-name {
  align-content: center;
  width: 350px;
}

.element-city {
  align-content: center;
  width: 350px;
}

.element-sum {
  align-content: center;
  width: 350px;
}

.element-link {
  align-content: center;
  width: 350px;
}

.element-title-name {
  align-content: center;
  width: 350px;
}

.element-title-city {
  align-content: center;
  width: 350px;
}

.element-title-price {
  align-content: center;
  width: 350px;
}

.element-title-link {
  align-content: center;
  width: 350px;
}

.element-title-sum {
  align-content: center;
  width: 350px;
}
