@import "variables.scss";

.wishlist-list {
  margin: 10px;
  border: solid 1px $md-color-green-300;
  border-radius: 5px;
  background-color: $md-color-green-50;
}

.wishlist-list-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: $md-color-green-500;
}

.wishlist-list-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .6);
  color: $md-color-green-500;
}

.element-name {
  display: flex;
  align-content: center;
  align-items: center;
  width: 400px;
}

.element-name-img {
  display: inline-block;
  width: 100px;
}

.element-name-link {
  margin-left: 10px;
  color: $md-color-green-900;
  text-decoration: none;
}

.element-name-link:hover {
  text-shadow: 3px 3px 8px $md-color-green-900;
}

.element-city {
  width: 150px;
  text-align: center;
}

.element-date {
  width: 100px;
  text-align: center;
}

.element-sum {
  width: 80px;
  text-align: center;
}

.element-title {
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.element-title-name {
  margin-left: 80px;
}

.btn-item-remove {
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: none;
  outline: none;
  color: transparent;
  content: ' ';
  opacity: .4;
}

.btn-item-remove:hover {
  outline: none;
  color: transparent;
  opacity: 1;
}

.btn-item-remove::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: url("/img/icons/remove.svg") 0 0 no-repeat;
  background-size: contain;
  content: ' ';
  cursor: pointer;
}