.wishlist-list {
  margin: 0 10px;
}

.wishlist-list-titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
}

.wishlist-list-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .6);
}

.element-name {
  display: flex;
  align-content: center;
  align-items: center;
  width: 400px;
}

.element-name-img {
  display: inline-block;
  width: 100px;
}

.element-name-link {
  margin-left: 10px;
  border-bottom: solid 1px transparent;
  color: #15024b;
  text-decoration: none;
}

.element-name-link:hover {
  border-bottom: solid 1px #15024b;
}

.element-city {
  width: 150px;
  text-align: center;
}

.element-date {
  width: 100px;
  text-align: center;
}

.element-sum {
  width: 80px;
  text-align: center;
}

.element-title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
